
<div class="pages">
  <div data-page="add-committee-tickets" class="page navbar-fixed toolbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="back back-button link icon-only"> <i class="icon icon-back"></i></a></div>
        <div class="center sliding">New Ticket</div>
        <!--<div class="right"><a href="#" class="link save-ticket" event-id="{{id}}"></i><span>Save</span></a></div>-->
      </div>
      <div class="toolbar premium">
        <div class="toolbar-inner">
          <div class="premium-service">Premium Service</div>
        </div>
      </div>
    </div>
    <a href="#" class="floating-button color-orange save-ticket">
      <i class="icon icon-save"></i>
    </a>
   <div class="page-content">

     <form class="list-block" id="add-ticket-form">
       <ul>
         <li>
           <div class="item-content">
             <div class="item-inner">
               <div class="item-title label">Category</div>
               <div class="item-input">
                 <input type="text" value="Paid" readonly name="category" id="ticket-category"/>
               </div>
             </div>
           </div>
         </li>
         <li class="align-top">
           <div class="item-content">
             <div class="item-inner">
               <div class="item-title label">Ticket Type</div>
               <div class="item-input">
                 <input type="text" placeholder="Ticket Type" name="tickettype" id="tickettype"/>
               </div>
             </div>
           </div>
         </li>
         <li>
           <div class="item-content">
             <div class="item-inner">
               <div class="item-title label">Price</div>
               <div class="item-input">
                 <input type="number" placeholder="0.00" name="price" id="ticketprice"/>
               </div>
             </div>
           </div>
         </li>
         <li>
           <div class="item-content">
             <div class="item-inner">
               <div class="item-title label">Quantity</div>
                <div class="item-text ">Quantities are added per committee member</div>
             </div>
           </div>
         </li>
       </ul>
       <input type="hidden" name="origin" value="2"/>
     </form>
   </div>
 </div>
</div>
