
<div class="pages">
  <div data-page="committee-tickets-list" class="page navbar-fixed toolbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="back-event back-button link icon-only"> <i class="icon icon-back"></i></a></div>
        <div class="center">Box Office Tickets</div>
        <div class="right">
        </div>
      </div>
    </div>
    <div class="toolbar premium">
      <div class="toolbar-inner">
        <div class="premium-service">Premium Service</div>
      </div>
    </div>
    <a href="#" class="floating-button color-orange add-committee-tickets">
      <i class="icon icon-new"></i>
    </a>
   <div class="page-content">
     {{#js_compare "this.commTickets.length > 0"}}
      <div class="card">
        <div class="card-content">

          <div class="list-block media-list">
            <ul>

              {{#each commTickets}}
              <li class="swipeout" ticketId="{{id}}">
                <div class="swipeout-content row no-gutter item-content {{#if enable}}{{else}}color-gray{{/if}}" id="ticket-content-{{id}}">
                  <div class="col-20">
                    <div class="item-media">
                      <a href="#" class="disable" status="{{enable}}" ticketId="{{id}}">
                        {{#if enable}}
                          <i class="icon icon-enabled"></i>
                          {{else}}
                          <i class="icon icon-disabled"></i>
                        {{/if}}
                      </a>
                    </div>
                  </div>
                  <div class="col-80">
                    <a href="#" class="item-link edit-ticket-link " ticket-id="{{id}}">
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">{{tickettype}} - ${{js "this.price.toFixed(2)"}}&nbsp;{{@root.event.currency}}</div>
                        </div>
                        <div class="item-subtitle">Quantity: {{quantity}}</div>
                        <div class="item-text"><span>Sold Quantity: {{soldquantity}}</span><br><span>Scanned Quantity: {{scannedquantity}}</span></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="swipeout-actions-right">
                  {{#js_compare "this.soldquantity == 0"}}
                  <a href="#" class="delete swipeout-delete bg-red" data-close-on-cancel="true" data-confirm="Are you sure want to delete this ticket? This cannot be undone!" data-confirm-title="Delete?" ticketId="{{id}}">Delete</a>
                  {{/js_compare}}
                </div>
              </li>
              {{/each}}
            </ul>
          </div>

        </div>
      </div>
      {{else}}
      <div class="oops-image-load"></div>
      <div class="oops-message-load">You have not added any box office tickets. Click the button below to begin.</div>
      {{/js_compare}}
    </div>
  </div>
</div>
