
<div class="pages">
  <div data-page="report" class="page navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left sliding"><a href="#" class="{{#if fromScan}}back{{else}}back-event{{/if}} link icon-only back-button"> <i class="icon icon-back"></i></a></div>
        <div class="center sliding">{{@global.language.REPORTS.EVENT_REPORTS}}</div>
        <div class="right">
          <a href="#" data-panel="right" class="link open-panel icon-only"> <i class="icon icon-submenu"></i></a>
        </div>
      </div>
    </div>
    <div class="page-content  pull-to-refresh-content">
    <div class="pull-to-refresh-layer">
      <div class="preloader"></div>
      <div class="pull-to-refresh-arrow"></div>
    </div>
    <div class="card event-report" event-id="{{id}}">
      <div class="card-header">{{name}}</div>
      <div class="card-content">
        <div class="card-content-inner"><span>{{StartTime}}</span><br><span>{{venue}}</span></div>
      </div>
    </div>
      {{#js_compare "this.onlineTickets.length > 0"}}
      <div class="card">
        <div class="card-header">{{@global.language.REPORTS.ONLINE_TICKETS}}</div>
        <div class="card-content">
          <div class="list-block media-list accordion-list">
            <ul>
              {{#each onlineTickets}}
              <li class="accordion-item" ticket-type-id="{{id}}">
                <a href="#" class="item-link item-content">
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">{{tickettype}}&nbsp;-&nbsp;{{js "this.price.toFixed(2)"}}{{../currency}}</div>
                    </div>
                    <div class="item-subtitle">
                      {{@global.language.REPORTS.SOLD}}:&nbsp;{{soldquantity}}/{{quantity}}&nbsp;|&nbsp;
                      {{@global.language.REPORTS.SCANNED}}:&nbsp;{{scannedquantity}}/{{soldquantity}}
                    </div>
                  </div>
                </a>
                <div class="accordion-item-content">
                  <div class="content-block" id="sold-graph-{{id}}"></div>
                  <div class="content-block" id="scanned-graph-{{id}}"></div>
                </div>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      {{/js_compare}}
      {{#js_compare "this.prePrintedTickets.length > 0"}}
      <h5>Pre-Printed Tickets</h5>
      <div class="row no-gutter" id="ticket-report-header">
        <div class="col-40">Ticket Type</div>
        <div class="col-15">Price</div>
        <div class="col-15">Sold</div>
        <div class="col-15">Bal</div>
        <div class="col-15">Scan</div>
      </div>
      <div id="preprintedtickets">
      {{#each prePrintedTickets}}
        <div class="row no-gutter">
          <div class="col-40 ticket-details">{{tickettype}}</div>
          <div class="col-15 ticket-details">${{js "this.price.toFixed(2)"}}</div>
          <div class="col-15 ticket-details" style="text-align:center">{{soldquantity}}</div>
          <div class="col-15 ticket-details" style="text-align:center">{{js "this.quantity - this.soldquantity"}}</div>
          <div class="col-15 ticket-details" style="text-align:center">{{scannedquantity}}</div>
        </div>
      {{/each}}
      </div>
      {{/js_compare}}
      {{#js_compare "this.boxOfficeTickets.length > 0"}}
      <h5>Box Office Tickets</h5>
      <div class="row no-gutter" id="ticket-report-header">
        <div class="col-40">Ticket Type</div>
        <div class="col-15">Price</div>
        <div class="col-15">Sold</div>
        <div class="col-15">Bal</div>
        <div class="col-15">Scan</div>
      </div>
      <div id="boxofficetickets">
      {{#each boxOfficeTickets}}
        <div class="row no-gutter">
          <div class="col-40 ticket-details">{{tickettype}}</div>
          <div class="col-15 ticket-details">${{js "this.price.toFixed(2)"}}</div>
          <div class="col-15 ticket-details" style="text-align:center">{{soldquantity}}</div>
          <div class="col-15 ticket-details" style="text-align:center">{{js "this.quantity - this.soldquantity"}}</div>
          <div class="col-15 ticket-details" style="text-align:center">{{scannedquantity}}</div>
        </div>
      {{/each}}
      </div>
      {{/js_compare}}
    </div>
  </div>
</div>
