<div class="pages">
  <div class="page navbar-fixed" data-page="sale-complete" >
    <div class="navbar">
      <div class="navbar-inner">
        <div class="center">
          <a href="#"  class="icon-only"><i class="icon icon-suntixx"></i></a>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="content-block">
        <div style="text-align:center;width:75vw;margin:30% auto 0 auto; font-size:18px">{{@global.language.STORE.SALE_SUCCESSFUL}}</div>
        <div style="text-align:center;width:90vw;margin: 30 auto">
          <i class="icon icon-success"></i>
        </div>
        <p class="buttons-row">
          <a href="#" class="button buttons sell-more">{{@global.language.STORE.SELL_MORE}}</a>
          <a href="#" class="button buttons home">{{@global.language.STORE.HOME}}</a>
        </p>
      </div>
    </div>
  </div>
</div>
