<div class="pages ">
  <div data-page="sales-reports" class="page navbar-fixed toolbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="back back-button link icon-only"> <i class="icon icon-back"></i></a></div>
        <div class="center">{{@global.language.STORE.SALES_REPORTS}}</div>
      </div>
    </div>
    <div class="toolbar tabbar" style="background:#eee">
      <div class="toolbar-inner" style="background:#eee">

        <a href="#allSalesTab" class="button active tab-link" style="color:#F9A11B">{{@global.language.STORE.ALL_SALES_REPORTS}}</a>
        <a href="#ordersTab" class="button tab-link" style="color:#F9A11B">{{@global.language.STORE.ORDERS}}</a>
      </div>
    </div>
    <div class="tabs-swipeable-wrap">
      <div class="tabs">
        <div class="page-content tab" id="allSalesTab">
          <div class="card event-details">
            <div class="header">
              <div style="background-image:url('{{@global.config.server}}/thumbnails/events/{{event.id}}/landscape.png')" valign="bottom" class="lazy event-image color-white no-border"></div>
            </div>
            <div class="card-content">
              <div class="list-block media-list">
                <ul>
                  {{#each reports.sales}}
                  <li>
                    <a href="#" class="item-link item-content purchase-details" purchase="{{id}}">
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">{{fullName}}</div>
                          <div class="item-after">{{ticketsquantity}}</div>
                        </div>
                        <div class="item-subtitle color-gray">{{email}}</div>
                        <div class="item-text">{{purchasedate}}</div>
                      </div>
                    </a>
                  </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-content tab" id="ordersTab">
          <div  id="orders">
            <div id="page-loading"><span style="width:42px; height:42px" class="preloader"></span></div>
          </div>
        </div>
      </div>
   </div>
 </div>
</div>
