<div class="pages ">
  <div data-page="sales-reports" class="page navbar-fixed toolbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="back back-button link icon-only"> <i class="icon icon-back"></i></a></div>
        <div class="center">{{@global.language.STORE.SALES_REPORTS}}</div>
      </div>
    </div>
    <div class="toolbar tabbar" style="background:#eee">
      <div class="toolbar-inner" style="background:#eee">

        <a href="#allSalesTab" class="button active tab-link" style="color:#F9A11B">{{@global.language.STORE.ALL_SALES_REPORTS}}</a>
        <a href="#cashSalesTab" class="button tab-link" style="color:#F9A11B">{{@global.language.STORE.CASH}}</a>
        <a href="#paypalSalesTab" class="button tab-link" style="color:#F9A11B">{{@global.language.STORE.PAYPAL}}</a>
      </div>
    </div>
    <div class="tabs-swipeable-wrap">
      <div class="tabs">

        <div class="page-content tab" id="allSalesTab">
          <div class="list-block">
            <ul>
              {{#each report}}
              <li class="accordion-item">
                <a href="#" class="item-content item-link">
                  <div class="item-inner">
                    <div class="item-title">{{fullName}}</div>
                  </div>
                  <div class="item-subtitle">{{email}}</div>
                </a>
                <div class="accordion-item-content">
                  <div class="content-block">
                    <p>Item 1 content. Lorem ipsum dolor sit amet...</p>
                  </div>
                </div>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="page-content tab infinite-scroll upcoming-scroll" id="cashSalesTab">
          <div  id="cashSales">
            <div id="page-loading"><span style="width:42px; height:42px" class="preloader"></span></div>
          </div>
          <div class="infinite-scroll-preloader">
            <div class="preloader infinite-preloader"></div>
          </div>
        </div>
        <div class="page-content tab active home-refresh infinite-scroll " id="paypalSalesTab">
          <div id="paypalSales">
            <div id="page-loading"><span style="width:42px; height:42px" class="preloader"></span></div>
          </div>
          <div class="infinite-scroll-preloader">
            <div class="preloader"></div>
          </div>
        </div>
      </div>
   </div>
 </div>
</div>
