
<div class="pages">
  <div data-page="user-main" class="page navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="close-popup link icon-only"> <i class="icon icon-back"></i></a></div>
        <div class="center">Promoter</div>
      </div>
    </div>
   <div class="page-content user-profile">
     <div class="card">
       <div class="card-header">
         <a href="#" class="link user-image" id="user-image-id" style="background-image: url('{{@global.server}}/thumbnails/users/{{id}}/portrait.png')">
        </a>
       </div>
       <div class="card-content">
         <h4>{{name1}}&nbsp;{{name2}}&nbsp;{{#js_compare "this.name3 == ''"}}{{name3}}&nbsp;{{/js_compare}}{{name4}}<br>
         Email: {{email}}</h4>
         <div class="card-content-inner color-gray">
           {{addressstreet}}<br>{{addresscity}}{{#js_compare "this.addressstate = ''"}},&nbsp;{{addressstate}}{{/js_compare}}
         </div>
       </div>
     </div>
    </div>
  </div>
</div>
