<div class="pages">
  <div data-page="user-profile" class="page navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="back link icon-only back-button" > <i class="icon icon-back"></i></a>
        </div>
        <div class="center">
          {{@global.language.USER_AREA.PROFILE}}
        </div>
        <div class="right"></div>
      </div>
    </div>
    <div class="page-content">
      <div class="progressbar-overlay"></div>
      <div class="card profile">
      <!--  <div class="card-header user-profile">
            <img class="link user-image change-image" id="user-image-id" src="{{@global.config.server}}/thumbnails/users/{{id}}/portrait.png">
            <a href="#" class="buttons button">{{@global.language.USER_AREA.MESSAGE}}</a>
        </div>
        <div class="card-content">
          <div>
            <span class="fullname">{{name2}} {{name3}} {{name4}}</span>
          </div>
          <div>
            <span class="email"><i class="icon icon-email"></i>{{email}}</span>
          </div>
          <div>
            <span class="user-profile-label"><i class="icon icon-phone"></i></span><span class="user-profile-field">{{mobilephone}}</span>
          </div>
          <div>
            <span class="user-profile-label">
              <i class="icon icon-location"></i>
            </span>
            <span class="user-profile-field">{{addresscity}}&nbsp;|&nbsp;<span class="user-country">{{addresscountry}}</span></span>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
